<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digimon - MRKEVR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body style="overflow: hidden;">
    <!-- NAV -->
    <nav class="navbar navbar-expand-md navbar-light bg-trasparent fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><span class="nes-btn is-primary me-2"><img style="width:30px"
                        src="https://www.adiumxtras.com/images/pictures/8bit_mega_man_1_20276_6496_thumb_9812.png"
                        class="d-none d-md-inline-block" alt="" id="brandIcon"> MRKEVR</span></a>
            <button class="navbar-toggler d-lg-none nes-btn is-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                \html\index.html aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><img style="width:30px"
                        src="https://www.adiumxtras.com/images/pictures/8bit_mega_man_1_20276_6496_thumb_9812.png"
                        alt="" id="brandIcon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav">
                    <li class="nav-item me-3 mb-1">
                        <a href="" role="button" class="nes-btn is-success py-0">Spring</a>
                    </li>
                    <li class="nav-item me-3 mb-1">
                        <a href="" role="button" class="nes-btn is-warning py-0">Java</a>
                    </li>
                    <li class="nav-item me-3 mb-1">
                        <a href="" role="button" class="nes-btn is-error py-0">App</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    
    
    
    
    <!-- Bootstrap JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
        </script>
</body>
</html>